/* NavBar.module.css */

.nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    border-bottom: solid black 1px;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .nav h1 {
    font-size: 2.5rem;
  }
  
  .nav p {
    color: var(--textColor);
  }
  
  .nav button {
    background-color: #94323a;
    color: white;
    padding: 10px 20px;
    font-size: 1.6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nav button:hover {
    background-color: #501b1f;
  }
  
  .nav a {
    text-decoration: none;
    color: var(--textColor);
  }
  
  .nav button:hover {
    background-color: #501b1f;
  }
  
  .nav .user {
    cursor: pointer;
  }


  @media (max-width: 700px) {
    .nav p {
      display: none; /* Hide the <p> tag on narrow screens */
    }

    .nav p span {
      display: block;
    }
  }